<rt:extends href="../index.html" />
<rt:block name="content">
	<h2>アプリケーションのファイル構成</h2>
	<p>
		標準的な構成は以下になりますが、セットアップにより別の場所に配置する事が可能になるものがあります。
	</p>

	<dl>
		<dd>library <span class="label">ライブラリ群</span></dd>
		<dd>resources</dd>
		<dd>
			<dl>
				<dd>locale <span class="label">国際化ファイル群</span></dd>
				<dd>
					<dl>
						<dd>messages <span class="label">国際化メッセージファイル(po,mo)群</span></dd>
					</dl>
				</dd>
				<dd>media - <span>画像ファイルやCSSファイル等</span></dd>
				<dd><a href="{$t.map_url('rhaco1_document','document/template.html')}">templates</a> <span class="label">html等のテンプレートファイル</span></dd>
			</dl>
		</dd>
		<dd>setup <span class="label">セットアップ関連ファイル群</span></dd>
		<dd>
			<dl>
				<dd>po - <span>国際化ファイルテンプレート群</span></dd>
				<dd><a href="{$t.map_url('rhaco1_document','document/project_xml.html')}">project.xml</a> <span class="label">アプリケーションXML</span></dd>
			</dl>
		</dd>
		<dd>work <span class="label">ワーキングファイル群</span></dd>
		<dd>
			<dl>
				<dd>log <span class="label">ログファイル群</span></dd>
			</dl>
		</dd>
		<dd><a href="{$t.map_url('rhaco1_document','document/006_setup___init___php.html')}">__init__.php</a> <span class="label">設定ファイル</span></dd>
		<dd><a href="{$t.map_url('rhaco1_document','document/006_setup___settings___php.html')}">__settings__.php</a> <span class="label">設定ファイル ( ローカル設定 ) </span></dd>
		<dd><a href="{$t.map_url('rhaco1_document','document/006_setup_setup_framework.html')}">setup.php</a> <span class="label">セットアップ実行ファイル</span></dd>
		<dd><a href="{$t.map_url('rhaco1_document','document/entry.html')}">index.php</a> <span class="label">エントリーポイント</span></dd>
	</dl>

</rt:block>
	