<rt:extends href="../index.html" />
<rt:block name="content">
	<h2>アプリケーションのファイル構成</h2>
	<p>
		標準的な構成は以下になりますが、それぞれ設定により別の場所に配置する事が可能です。
	</p>
	
	<dl>
		<dd>commons <span class="label">モード毎の共通設定ファイル</span></dd>
		<dd>libs <span class="label">ライブラリ群</span></dd>
		<dd>
			<dl>
				<dd>_vendors <span class="label">外部ライブラリ</span></dd>
				<dd>_extlibs <span class="label">PEAR等</span></dd>
			</dl>
		</dd>
		<dd>resources <span class="label">リソースファイル</span></dd>
		<dd>
			<dl>
				<dd>media/ <span class="label">画像ファイルやCSSファイル等</span></dd>
				<dd><a href="{$t.map_url('rhaco3_document','documnet/template.html')}">templates/</a> <span class="label">html等のテンプレートファイル</span></dd>
			</dl>
		</dd>
		<dd>tests <span class="label">テストファイル</span></dd>
		<dd>__settings__.php - <span class="label">設定ファイル</span></dd>
		<dd><a href="{$t.map_url('rhaco3_document','document/entry.html')}">index.php</a> <span class="label">エントリーポイント</span></dd>
	</dl>
</rt:block>
	