<rt:extends href="../index.html" />
<rt:block name="content">
	<h2>Dao (データベースモデル)</h2>
	<p>
		org.rhaco.store.db.Dao
	</p>

	<div class="xml_desc">
		<a name="method"></a>
		<h3>クラスのアノテーション</h3>
		<table>
			<thead>
			<tr>
				<th>アノテーション</th>
				<th>説明</th>
				<th>型</th>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td>database</td>
				<td>接続するデータベース名</td>
				<td>string</td>
			</tr>
			<tr>
				<td>table</td>
				<td>リンクするテーブル名</td>
				<td>string</td>
			</tr>
			<tr>
				<td>create</td>
				<td>新規追加を実行可能である</td>
				<td>boolean</td>
			</tr>
			<tr>
				<td>update</td>
				<td>更新を実行可能である</td>
				<td>boolean</td>
			</tr>
			<tr>
				<td>delete</td>
				<td>削除を実行可能である</td>
				<td>boolean</td>
			</tr>
			</tbody>
		</table>
	</div>

	<div class="xml_desc">
		<a name="method"></a>
		<h3>プラパティのアノテーション</h3>
		<table>
			<thead>
			<tr>
				<th>アノテーション</th>
				<th>説明</th>
				<th>型</th>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td>extra</td>
				<td>テーブルのカラムとリンクしないプロパティとする</td>
				<td>boolean</td>
			</tr>
			<tr>
				<td>cond</td>
				<td>テーブルのカラムとリンクする際の追加の条件</td>
				<td>string</td>
			</tr>
			<tr>
				<td>primary</td>
				<td>主キーとする</td>
				<td>boolean</td>
			</tr>
			<tr>
				<td>label</td>
				<td>ラベル</td>
				<td>string</td>
			</tr>
			<tr>
				<td>require</td>
				<td>必須とする</td>
				<td>boolean</td>
			</tr>
			<tr>
				<td>unique</td>
				<td>ユニークとする</td>
				<td>boolean</td>
			</tr>
			<tr>
				<td>unique_together</td>
				<td>指定のプロパティとあわせてユニークとする</td>
				<td>string</td>
			</tr>
			<tr>
				<td>master</td>
				<td>指定のDaoの主キーにプロパティの値が存在することを確認する</td>
				<td>string</td>
			</tr>
			<tr>
				<td>min</td>
				<td>最低値</td>
				<td>integer</td>
			</tr>
			<tr>
				<td>max</td>
				<td>最大値</td>
				<td>integer</td>
			</tr>
			<tr>
				<td>auto_now_add</td>
				<td>新規登録時のみ現在日時をセットする</td>
				<td>boolean</td>
			</tr>
			<tr>
				<td>auto_now</td>
				<td>更新時に現在日時をセットする</td>
				<td>boolean</td>
			</tr>
			</tbody>
		</table>
	</div>

	<div class="xml_desc">
		<a name="method"></a>
		<h3>拡張メソッド</h3>
		<table>
			<thead>
			<tr>
				<th>メソッド名</th>
				<th>説明</th>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td>__find_conds__</td>
				<td>select時の追加条件</td>
			</tr>
			<tr>
				<td>__create_verify__</td>
				<td>新規追加時に行う検証</td>
			</tr>
			<tr>
				<td>__update_verify__</td>
				<td>更新時に行う検証</td>
			</tr>
			<tr>
				<td>__delete_verify__</td>
				<td>削除時に行う検証</td>
			</tr>
			<tr>
				<td>__before_save__</td>
				<td>追加/更新の前に行う処理</td>
			</tr>
			<tr>
				<td>__after_save__</td>
				<td>追加/更新の後に行う処理</td>
			</tr>
			<tr>
				<td>__before_create__</td>
				<td>追加の前に行う処理</td>
			</tr>
			<tr>
				<td>__after_create__</td>
				<td>追加の後に行う処理</td>
			</tr>
			<tr>
				<td>__before_update__</td>
				<td>更新の前に行う処理</td>
			</tr>
			<tr>
				<td>__after_update__</td>
				<td>更新の後に行う処理</td>
			</tr>
			<tr>
				<td>__before_delete__</td>
				<td>削除の前に行う処理</td>
			</tr>
			<tr>
				<td>__after_delete__</td>
				<td>削除の後に行う処理</td>
			</tr>			
			</tbody>
		</table>
	</div>
	
	<div class="xml_desc">
		<a name="method"></a>
		<h3>拡張アクセサ</h3>
		<table>
			<thead>
			<tr>
				<th>アクセサ名</th>
				<th>説明</th>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td>verify</td>
				<td>追加の検証処理、失敗時にfalseを返すようにする</td>
			</tr>
			</tbody>
		</table>
	</div>
</rt:block>
