<rt:extends href="index.html" />
<rt:block name="content">
	<h2>Develop</h2>
	<p>
		開発環境など
	</p>
	
	<h3>実行環境</h3>
	<ul class="doclist">
		<li>
			<a href="http://www.mamp.info/">MAMP</a> (mac)
			<pre trans="true" class="tips">
				# mkdir /usr/local/bin
				ln -s /Applications/MAMP/bin/php/php5.3.6/bin/php /usr/local/bin/mamp
			</pre>
		</li>
		<li><a href="http://www.apachefriends.org/jp/xampp-windows.html">XAMPP</a> (windows)</li>
	</ul>
	
	<h3>エディタ</h3>
	<ul class="doclist">
		<li><a href="http://www.eclipse.org/pdt/downloads/">PDT</a> (eclipse)</li>
		<li>
			pliguns:
			<ul>
				<li>(subversion) http://subclipse.tigris.org/update_1.6.x</li>
				<li>(mercurial) http://cbes.javaforge.com/update</li>
				<li>(git) http://www.eclipse.org/egit/download/</li>
			</ul>
		</li>
	</ul>
	
	<h3>その他バイナリ等</h3>
	<ul class="doclist">
		<li><a href="http://mercurial.berkwood.com/">mercurial</a> (mac)</li>
		<li><a href="http://code.google.com/p/git-osx-installer/downloads/list">git</a> (mac)</li>
	</ul>
	
	<h3>マニュアル</h3>
	<ul class="doclist">
		<li><a href="http://www.php.net/manual/ja/">PHP マニュアル</a></li>
	</ul>
</rt:block>
