<rt:extends href="index.html" />

<rt:block name="content">
	<div class="hero-unit">
		<h1>packager</h1>
		<p>
			<code>
				<a href="https://github.com/tokushima/rhaco3/blob/master/packager.php">https://github.com/tokushima/rhaco3/blob/master/packager.php</a>
			</code>
		</p>
		<p>
			<span class="label">PHP 4, PHP 5</span>
			<span class="label label-important"><a href="https://github.com/tokushima/rhaco3/blob/master/LICENSE" style="color: #ffffff;">BSD license</a></span>
		</p>
		<p>
			<a class="btn btn-primary btn-large" href="{$t.map_url('download','core/packager.php')}">download</a>
		</p>
	</div>
	
	<h3>Ext</h3>
	<code>
		php packager.php /path/to/input_dir /path/to/output_dir
	</code>
</rt:block>