<rt:extends href="top.html" />

<rt:block name="content">
	<div class="hero-unit">
		<h1>rhaco2</h1>
		<p>
			<code>
				<a href="https://github.com/tokushima/rhaco2">https://github.com/tokushima/rhaco2</a>
			</code>
		</p>
		<p>
			<span class="label">PHP 5 >= 5.2.5</span>
			<span class="label important"><a href="https://github.com/tokushima/rhaco2/blob/master/LICENSE" style="color: #ffffff;">BSD license</a></span>
			<span class="label notice">2008-08-08〜 </span>
		</p>
		<p>
			<a class="btn btn-primary btn-large" href="{$t.map_url('download','core/rhaco2.php')}">download</a>
		</p>
	</div>
	
	
      <div class="row">
        <div class="span-one-third">
          <h2>Documnet</h2>
			<ul>
				<li><a href="{$t.map_url('rhaco2_document','document/startup.html')}">スタートアップ</a></li>
				<li><a href="{$t.map_url('rhaco2_document','document/appdir.html')}">アプリケーションのファイル構成</a></li>
				<li><a href="{$t.map_url('rhaco2_document','document/entry.html')}">エントリーポイント(アプリケーションXMLの構成)</a></li>
				<li><a href="{$t.map_url('rhaco2_document','document/template.html')}">テンプレートエンジン</a></li>
				<li><a href="{$t.map_url('rhaco2_document','document/template_tag.html')}">テンプレートの拡張タグ</a></li>
		
				<li><a href="{$t.map_url('rhaco2_document','document/flow.html')}">Flowの動作とモジュール呼出しタイミング</a></li>
				<li><a href="{$t.map_url('rhaco2_document','document/package.html')}">パッケージ</a></li>
				<li><a href="{$t.map_url('rhaco2_document','document/template_formatter.html')}">テンプレートの標準フォーマッタ (Templf)</a></li>
				<li><a href="{$t.map_url('rhaco2_document','document/test.html')}">テスト</a></li>
				<li><a href="{$t.map_url('rhaco2_document','document/custom_method.html')}">Objectのカスタマイズ</a></li>
			</ul>
        </div>
        <div class="span-one-third">
          <h2>Tutorial</h2>
			<ul>
				<li><a href="{$t.map_url('rhaco2_document','tutorial/1.html')}">htmlを表示する</a></li>
				<li><a href="{$t.map_url('rhaco2_document','tutorial/2.html')}">継承したhtmlを表示する</a></li>
				<li><a href="{$t.map_url('rhaco2_document','tutorial/3.html')}">Feedを取得して全てのタグを削除して表示する</a></li>
				<li><a href="{$t.map_url('rhaco2_document','tutorial/4.html')}">ライブラリを利用してブログを作成する</a></li>
				<li><a href="{$t.map_url('rhaco2_document','tutorial/5.html')}">ライブラリとして利用してurlからbodyを表示する</a></li>
				<li><a href="{$t.map_url('rhaco2_document','tutorial/6.html')}">POSTの場合にのみ処理をする</a></li>	
				<li><a href="{$t.map_url('rhaco2_document','tutorial/7.html')}">ログインモジュールを作成しログイン状態を表示する</a></li>
				<li><a href="{$t.map_url('rhaco2_document','tutorial/8.html')}">入力された値によってテンプレートを切り替える</a></li>
				<li><a href="{$t.map_url('rhaco2_document','tutorial/9.html')}">choice型に使用できる値の一覧を取得する</a></li>
				<li><a href="{$t.map_url('rhaco2_document','tutorial/10.html')}">&lt;map&gt;のURLをhttpsとする</a></li>
				<li><a href="{$t.map_url('rhaco2_document','tutorial/12.html')}">Blogを作成する</a></li>
				<li><a href="{$t.map_url('rhaco2_document','tutorial/13.html')}">値によってテーマテンプレートを切り替える</a></li>
				<li><a href="{$t.map_url('rhaco2_document','tutorial/14.html')}">クッキーを利用する</a></li>
				<li><a href="{$t.map_url('rhaco2_document','tutorial/15.html')}">クラスドキュメントを表示する</a></li>
				<li><a href="{$t.map_url('rhaco2_document','tutorial/16.html')}">簡易HTTPサーバを利用する</a></li>
				<li><a href="{$t.map_url('rhaco2_document','tutorial/17.html')}">テンプレートで変数をHTMエスケープする</a></li>
				<li><a href="{$t.map_url('rhaco2_document','tutorial/18.html')}">PEAR(Image_QRCode)を利用してQRコードを表示する</a></li>
				<li><a href="{$t.map_url('rhaco2_document','tutorial/19.html')}">DBを操作する</a></li>
				<li><a href="{$t.map_url('rhaco2_document','tutorial/20.html')}">アプリケーションのテストを行う</a></li>
				<li><a href="{$t.map_url('rhaco2_document','tutorial/21.html')}">SQLiteで簡単な掲示板を作る</a></li>
				<li><a href="{$t.map_url('rhaco2_document','tutorial/22.html')}">セッションにDBを使用する</a></li>
				<li><a href="{$t.map_url('rhaco2_document','tutorial/23.html')}">ログインモジュールを使用する</a></li>
				<li><a href="{$t.map_url('rhaco2_document','tutorial/24.html')}">Templateにモジュールを追加してタグを拡張する</a></li>
			</ul>
       </div>
        <div class="span-one-third">
          <h2>Link</h2>
			<ul>
				<li><a href="http://www.slideshare.net/riaf/rhaco-updates-php-conference-japan-2010">rhaco updates - php conference japan 2010 (riaf)</a></li>
				<li><a href="http://d.hatena.ne.jp/yabeken/20101017/1287282134">velzno 0.1.0 - rhaco2 Eclipse Plugin (yabeken)</a></li>
			</ul>
        </div>
      </div>
</rt:block>