<rt:extends href="top.html" />

<rt:block name="content">
	<div class="hero-unit">
		<h1>rhaco1</h1>
		<p>
			<code>
				<a href="https://github.com/tokushima/rhaco1">https://github.com/tokushima/rhaco1</a>
			</code>
		</p>
		<p>
			<span class="label">PHP 4 >= 4.3.0, PHP 5 <= 5.3</span>
			<span class="label important"><a href="https://github.com/tokushima/rhaco1/blob/master/LICENSE" style="color: #ffffff;">BSD license</a></span>
			<span class="label notice">2005-09-01〜 </span>
		</p>
		<p>
			<a class="btn btn-primary btn-large" href="{$t.map_url('download','core/rhaco1.tgz')}">download</a>
		</p>
	</div>
	
	
      <div class="row">
        <div class="span-one-third">
          <h2>Documnet</h2>
			<ul>
				<li><a href="{$t.map_url('rhaco1_document','document/startup.html')}">スタートアップ</a></li>
				<li><a href="{$t.map_url('rhaco1_document','document/appdir.html')}">アプリケーションのファイル構成</a></li>
				<li><a href="{$t.map_url('rhaco1_document','document/entry.html')}">エントリーポイント</a> (<a href="{$t.map_url('rhaco1_document','document/project_xml.html')}">アプリケーションXMLの構成</a>)</li>
				<li><a href="{$t.map_url('rhaco1_document','document/template.html')}">テンプレートエンジン</a></li>
				<li><a href="{$t.map_url('rhaco1_document','document/template_tag.html')}">テンプレートの拡張タグ</a></li>
				
				<li><a href="{$t.map_url('rhaco1_document','document/001_rhaco_01_library_import.html')}">ライブラリの読み込み</a></li>
				<li><a href="{$t.map_url('rhaco1_document','document/001_rhaco_02_constructor.html')}">rhaco のコンストラクタ</a></li>
				<li><a href="{$t.map_url('rhaco1_document','document/006_setup___init___php.html')}">__init__.php</a></li>
				<li><a href="{$t.map_url('rhaco1_document','document/006_setup___settings___php.html')}">__settings__.php</a></li>
				<li><a href="{$t.map_url('rhaco1_document','document/006_setup_authentication.html')}">簡易認証機構</a></li>
				<li><a href="{$t.map_url('rhaco1_document','document/006_setup_setup_framework.html')}">setup.php</a></li>
			</ul>
        </div>
        <div class="span-one-third">
          <h2>Tutorial</h2>
			<ul>
				<li><a href="{$t.map_url('rhaco1_document','tutorial/1.html')}">SQLiteで簡単な掲示板を作る</a></li>
				<li><a href="{$t.map_url('rhaco1_document','tutorial/2.html')}">Conveyorを使用する</a></li>
			</ul>
       </div>
        <div class="span-one-third">
          <h2>Link</h2>
			<ul>
			<li><a href="http://ll.jus.or.jp/2007/show/Event/Session/">LL SPIRIT(2007) Lightning Talk __init__.php？　変態的国産PHPフレームワークrhaco - 露木誠</a></
			<li><a href="http://ll.jus.or.jp/2007/kahua/kahua-web/download/0605tsuyuki.tar.gz">(発表資料)</a></li>
			<li><a href="http://labs.unoh.net/2008/04/doctest-for-php.html">PHPでDocTest </a></li>
			<li><a href="http://www.slideshare.net/riaf/rhaco">実践まるごとrhaco (riaf)</a></li>
			<li><a href="http://www.nicovideo.jp/watch/sm4033584">(PHP Conference 2008) いよいよPHPの人にrhacoを紹介しちゃいますよ - 露木誠</a></li>
			<li><a href="http://handsout.jp/slide/632">rhacoでモテる (riaf)</a>
			<li><a href="http://labs.unoh.net/2009/01/riafrhaco.html">[第一回ゲストブロガー:riaf]　rhaco知ってますか！？</a></li>
			<li><a href="http://gihyo.jp/dev/serial/01/rhaco">シンプル＆パワフルなPHPライブラリ rhacoを使ってみよう！</a></li>
			<li><a href="http://wikihub.org/wiki/rhaco1-doc">wikihub</a></li>
			<li><a href="http://blog.shigepon.com/tag/rhaco">rhacoアプリ開発日誌</a></li>
			<li><a href="http://d.hatena.ne.jp/Kmusiclife/searchdiary?word=%2A%5Brhaco%5D">[rhaco] - モノヅクリブログ</a></li>

			</ul>
        </div>
      </div>
	
</rt:block>