<rt:extends href="top.html" />

<rt:block name="content">
	<div class="hero-unit">
		<h1>rhaco3</h1>
		<p>
			<code>
				<a href="https://github.com/tokushima/rhaco3">https://github.com/tokushima/rhaco3</a>
			</code>
		</p>
		<p>
			<span class="label">PHP 5 >= 5.3</span>
			<span class="label important"><a href="https://github.com/tokushima/rhaco3/blob/master/LICENSE" style="color: #ffffff;">BSD license</a></span>
			<span class="label notice">2010-11-11〜 </span>
		</p>
		<p>
			<a class="btn btn-primary btn-large" href="{$t.map_url('download','core/rhaco3.php')}">download</a>
		</p>
	</div>


      <div class="row">
        <div class="span-one-third">
          <h2>Documnet</h2>
			<ul>
				<li><a href="{$t.map_url('rhaco3_document','document/startup.html')}">スタートアップ</a></li>
				<li><a href="{$t.map_url('rhaco3_document','document/appdir.html')}">アプリケーションのファイル構成</a></li>
				<li><a href="{$t.map_url('rhaco3_document','document/entry.html')}">エントリーポイント</a></li>
				<li><a href="{$t.map_url('rhaco3_document','document/template.html')}">テンプレートエンジン</a></li>
				<li><a href="{$t.map_url('rhaco3_document','document/template_tag.html')}">テンプレートの拡張タグ</a></li>
				
				<li><a href="{$t.map_url('rhaco3_document','document/custom_method.html')}">Objectのカスタマイズ</a></li>		
				<li><a href="{$t.map_url('rhaco3_document','document/org_rhaco_store_db_dao.html')}">Dao (データベースモデル)</a></li>

			</ul>
        </div>
        <div class="span-one-third">
          <h2>Tutorial</h2>
			<ul>
				<li><a href="{$t.map_url('rhaco3_document','tutorial/2.html')}">PEARを利用してQRコードを表示する</a></li>	
				<li><a href="{$t.map_url('rhaco3_document','tutorial/4.html')}">htmlを表示する</a></li>
				<li><a href="{$t.map_url('rhaco3_document','tutorial/5.html')}">継承したhtmlを表示する</a></li>
			</ul>
       </div>
        <div class="span-one-third">
          <h2>Link</h2>
			<ul>
			</ul>
        </div>
      </div>
</rt:block>