<rt:extends href="index.html" />

<rt:block name="container">
	<rt:block name="summary">
	</rt:block>
	<div class="row">
		<div class="span4">
			<h2>Document</h2>
			<p></p>
			<ul class="nav nav-tabs nav-stacked">
				<li><a href="{$t.map_url('rhaco3_document','startup.html')}">スタートアップ</a></li>
				<li><a href="{$t.map_url('rhaco3_document','appdir.html')}">アプリケーションのファイル構成</a></li>
				<li><a href="{$t.map_url('rhaco3_document','entry.html')}">エントリーポイント</a></li>
				<li><a href="{$t.map_url('rhaco3_document','template.html')}">テンプレートエンジン</a></li>
				<li><a href="{$t.map_url('rhaco3_document','template_tag.html')}">テンプレートの拡張タグ</a></li>
				
				<li><a href="{$t.map_url('rhaco3_document','custom_method.html')}">Objectのカスタマイズ</a></li>		
				<li><a href="{$t.map_url('rhaco3_document','org_rhaco_store_db_dao.html')}">Dao (データベースモデル)</a></li>
			</ul>
		</div>
		<div class="span4">
			<h2>Tutorial</h2>
			<p></p>
			<ul class="nav nav-tabs nav-stacked">
				<li><a href="{$t.map_url('rhaco3_tutorial','2.html')}">PEAR(Image_QRCode)を利用してQRコードを表示する</a></li>
				<li><a href="{$t.map_url('rhaco3_tutorial','4.html')}">htmlを表示する</a></li>
				<li><a href="{$t.map_url('rhaco3_tutorial','5.html')}">継承したhtmlを表示する</a></li>
			</ul>
		</div>
		<div class="span4">
			<h2>Other links</h2>
			<p></p>
			<ul class="nav nav-tabs nav-stacked">
				<li><a href="http://d.hatena.ne.jp/seiunsky/20101227/1293465449">Advent Calendar はじめての rhaco3(3)</a></li>
				<li><a href="http://d.hatena.ne.jp/seiunsky/20101224/1293208724">Advent Calendar はじめての rhaco3(2)</a></li>
				<li><a href="http://d.hatena.ne.jp/seiunsky/20101223/1293123157">Advent Calendar はじめての rhaco3</a></li>
			</ul>
		</div>
	</div>
</rt:block>